/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    color: #333;
    font-family: Roboto, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Oswald, sans-serif;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
    color: var(--teal);
}
p {
    margin-bottom: .5rem;
    font-size: 1.1rem;
}
ul, li {
    margin-left: 1rem;
    font-size: 1.1rem;
}

/* Variables */
:root {
    --teal: #153141;
    --gold: #b59538;
    --beige: #f5f5dc;
    --green: #1d5243;
    --red: #a1302c;
    --blue: #1d5289;
    --white: #ffffff;
    --grey: #f4f4f4;
}

/* Screen Reader Only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

/* Custom Styles */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    vertical-align: middle;
    /* Smooth transition for background */
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    background-color: transparent; /* Default */
    max-height: 75px;
}

.logo h1 {
    padding-left: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline;
}

.logo a {
    text-decoration: none;
    color: var(--teal);
}

.logo img {
    margin-bottom: -10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: .6rem;
}

.nav-links a {
  position: relative;
  padding: .5rem .5rem;
  text-decoration: none;
  color: var(--teal)
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;               /* start at the center */
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: var(--teal);
  transform: translateX(-50%); /* shift back by half width */
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%; /* expands outward from the center */
}

/* Background when scrolled */
header.scrolled {
    background-color: var(--teal);
    backdrop-filter: blur(5px);
}

header.scrolled h1,
header.scrolled .nav-links a {
    color: var(--gold)
}

#hero {
    margin-top: -75px;
    background: url('img/hero.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--teal);
}

#hero img {
    width: 400px;
    margin-bottom: 2rem;
}

#hero .btn {
    margin-top: 1rem;
}

.btn {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.7rem 1.5rem;
    color: var(--teal);
    border: 4px solid var(--teal);
    border-radius: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;

}
.btn:hover {
    background: var(--teal);
    color: var(--beige);
}

section {
    padding: 4rem 6rem;
}

.two-col {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.two-col > .card {
    flex: 1 1 calc(50% - 1rem);
    min-width: 300px;
}

.card {
    position: relative;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    background: var(--grey);
}

.section-heading {
    margin: 2rem auto 2rem;
    padding: 1.5rem 5rem;
    color: var(--beige);
    background: var(--teal);
    text-align: center;
}

.section-heading h2 {
    color: var(--gold)
}

.section-content .card h3 {
    border-bottom: 4px solid;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.section-content .card:nth-child(3n + 1) h3 {
    border-color: var(--blue);
}

.section-content .card:nth-child(3n + 2) h3 {
    border-color: var(--red);
}  

.section-content .card:nth-child(3n) h3 {
    border-color: var(--green);
}

#about img {
    max-width: 300px;
    border-radius: 10px;
    float: right;
    margin: 0 0 1.5rem 1.5rem;
}

.connect-btn {
    display: inline-block;  
    padding: 0.75rem 1rem;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
    width: 100%;
}

.connect-btn.blue {
    background: var(--blue);
}
.connect-btn.red {
    background: var(--red);
}
.connect-btn.green {
    background: var(--green);
}

footer {
    padding: 4rem 2rem;
    color: var(--white);
    background: var(--teal);
}

footer a {
    color: var(--white)
}
